* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
/*header*/
.bg-helado-navbar {
    background-color: #5d0707;;
}
.color-link {
    color: #ffffff;
}	
/*main*/
.title-primary {
    color:#c78298;
    font-weight: 700;
    text-align: center;
}
.btn-heladeria {
    background-color: #8f3421;
    color: #ffffff;
}
.btn-heladeria:hover {
    border: 1px solid #5d0707;
}

.galery-card {
    background-color: #d7d7d7;
    border: 1px solid #bababa;
    border-radius: 10px;
}

/*footer*/
.pie-bg {
    background-color: #290406;
    color: #ffffff;
}